@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  font-family: 'Open Sans'
}

.spaced {
  margin-top: 2rem;
}

.small-space {
  margin-top: 1rem;
}

.small-both-spaced {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
