@import 'https://fonts.googleapis.com/css?family=Lato:400,900';

html {
  position: relative;
  min-height: 100%;
}


body {
  font-family: 'Lato', sans-serif;
}

.spaced {
  margin-top: 2rem;
}

.small-space {
  margin-top: 1rem;
}

.small-both-spaced {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table  {
  margin-top: 1rem;
}

.text-icon {
  color: darken($gray-dark, 5%);
}
