@import 'https://fonts.googleapis.com/css?family=Lato:400,900';
body {
  font-family: 'Lato', sans-serif;
}

.spaced {
  margin-top: 2rem;
}

.small-space {
  margin-top: 1rem;
}

.small-both-spaced {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
