<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @indicident_type.name %>
</p>

<%= link_to 'Edit', edit_indicident_type_path(@indicident_type) %> |
<%= link_to 'Back', indicident_types_path %>
