<div class="container spaced">
  <header class="spaced image-logo text-center">
    <h1 class="text-center">
      Fire Watchers
    </h1>
    <%= image_tag 'bonfire.svg', height: 300, class: 'spaced' %>
  </header>
  <section class="park-name spaced ">
    <h3 class="text-muted text-center"><%= @park_name %></h3>
  </section>
</div>
<footer class="footer spaced">
    <div class="container">
      <div class="pull-left">
      <p class="text-muted">Made with
         <span class="text-danger">
        <i class="fa fa-heart-o fa-fw"></i>
      </span>
       by <a href="https://github.com/jaoevangelista">@joaoevangelista</a>
     </p>
    </div>
    <div class="pull-right">
      <p class="text-muted">Licensed under <span>
        <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2</a>
      </span>
    </p>
    <p class="text-muted">
        <a href="https://gitlab.com/joaoevangelista/fireplace">Source Code</a>
        &nbsp;hosted at Gitlab
        <span class="gitlab-color">
          <i class="fa fa-gitlab fa-fw"></i>
        </span>
      </p>
    </div>
    </div>
  </footer>
