# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0d80bce2c3cff1449dc1f92571c74cc9c9572857fd315b839c71228120c175c1ba8b6487532a4bd58026003075ee8509ae0f7fe0e3d481fe29d2d7ae6360d153

test:
  secret_key_base: 4aa223d728c4ffb51fdbe8c85ea007b933a34096ac940b56309d6c650b0b1116eb09bed4afefed1fdbd2396b7d30f058a47b4fc060cfbe11bde030b0ae3e6531

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
