<div class="container spaced">
  <div class="row col-xs-12">
    <div class="pull-xs-left">
      <%= link_to icon('chevron-left', 'Back', class: 'fa-fw'), incident_types_path %>
    </div>
    <div class="pull-xs-right">
      <%= link_to 'Show', @incident_type %>
    </div>
  </div>
  <div class="row col-xs-12">
  <h1 class="text-xs-center">Editing Incident Type</h1>
  </div>
  <%= render 'form' %>
</div>
