<nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="#">
            <%= image_tag 'bonfire.svg', height: 30 %>
          </a>
          <ul class="nav navbar-nav">

          </ul>

          <ul class="nav navbar-nav pull-xs-right">
            <% if current_user %>
             <li class="nav-item"><a href="#" class="nav-link"><%= current_user.name %></a></li>
            <% else %>
            <li class="nav-item">
              <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
